<label>Server Name:</label>
<!-- (1) Event Binding -->
<!-- <input type="text" class="form-control" aria-label="small"
 aria-describedby="inputGroup-sizing-sm" 
 (input)="onUpdateServerName($event)">
  -->
<!-- (2) Two Way Binding -->
<input type="text" class="form-control" aria-label="small"
aria-describedby="inputGroup-sizing-sm" 
[(ngModel)]="serverName">
<!-- (3) String interpolation -->
<p>{{serverName}}</p>
<!-- (4) Property & Event Binding-->
<button type="button" class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onSeverCreation()">Add Server</button>
<p>{{outputText}}</p>
<p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p>
<app-server></app-server>
<app-server></app-server>